<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="HangmanApp.Droid" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<!-- Hide Action Bar In Android App (for all activity pages) -->
	<!-- http://www.technetexperts.com/mobile/hide-action-bar-in-android-app/ -->
	<application android:allowBackup="true" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar"></application>
</manifest>